<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Assignment Manage System</title>
    <!-- Bootstrap core CSS-->
    <link href="../static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="../static/vendor/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="../static/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="../static/css/sb-admin.css" rel="stylesheet">
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">



<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="#">Assignment Manage System</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                <a class="nav-link" href="#">
                    <i class="fa fa-fw fa-list"></i>
                    <span class="nav-link-text">Dashboard</span>
                </a>
            </li>



            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Assignment Pages">
                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" id="assignment-nav" href="#Assignment" data-parent="#exampleAccordion">
                    <i class="fa fa-fw fa-file-text"></i>
                    <span class="nav-link-text">Assignments</span>
                </a>
                <ul class="sidenav-second-level collapse" id="Assignment"></ul>
            </li>

            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Grade Pages">
                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" id="grade-nav" href="#Grade" data-parent="#exampleAccordion">
                    <i class="fa fa-fw fa-check"></i>
                    <span class="nav-link-text">Grades</span>
                </a>
                <ul class="sidenav-second-level collapse" id="Grade"></ul>
            </li>
        </ul>

        <!-- nav bar // right side -->
        <ul class="navbar-nav sidenav-toggler">
            <li class="nav-item">
                <a class="nav-link text-center" id="sidenavToggler">
                    <i class="fa fa-fw fa-angle-left"></i>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" name="user" id="user">
                    <!-- user name here -->
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="login.html">
                    <i class="fa fa-fw fa-sign-out"></i>Logout</a>
            </li>
        </ul>
    </div>
</nav>

<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active" id="subtitle">My Dashboard</li>
        </ol>

        <div id="title-part" style="display: none">
            <!-- title of before line -->
        </div>


        <!-- Assignment card  ||  two-column format -->
        <div id="assignmentCard">
            <div class="row">
                <div class="col-lg-5" id="first-column">
                    <div class="card mb-3" style="height:185px;">
                        <div class="card-header" id="assignment_title">
                            <!-- Assignment title here -->
                        </div>
                        <div class="card-body" id="assignment_description" style="overflow-y: auto;">
                            <!-- Assignment description here -->
                        </div>
                    </div>
                    <div class="card mb-3" style="height:265px;">
                        <div class="card-header" id="submitted-file">
                            <i class="fa fa-cloud-upload"></i>&ensp;Submitted Files
                        </div>
                        <div class="card-body" id="submitted-list" style="overflow-y: auto;">
                            <!-- Submitted-file list here -->
                        </div>
                    </div>
                </div>

                <div class="col-lg-7" id="second-column">
                    <!-- File List -->
                    <div class="card mb-3" style="height:465px;">
                        <div class="card-header">
                            <i class="fa fa-files-o"></i>&ensp;Uploaded Files

                        </div>
                        <!-- Operation buttons -->
                        <div class="mt-2 mb-1 mr-3" style="text-align: right;">
                            <button type="button" class="btn btn-sm btn-secondary mr-2" onclick="choose_files()">Upload</button>
                            <button type="button" class="btn btn-sm btn-primary">Submit</button>
                        </div>
                        <div class="card-body" id="uploaded-file" style="overflow-y: auto;">
                            <div id="uploaded-list">
                                <!-- The list of File Uploaded-->
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- End of Assignment card-->


        <!-- grade card // table |||||    gradeCard    ||||| -->
        <div class="card mb-3" id="gradeCard" style="display:none">
            <div class="card-header" id="table-course">
                <!-- course name here -->
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <!-- table attributes-->
                        <tr>
                            <th>Assignment</th>
                            <th>Score</th>
                            <th>Comment</th>
                        </tr>
                        </thead>
                        <tbody id="gradeData">
                        <!-- grade data show here-->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- End of grade card // table -->

        <!-- Choose File Popup Starts Here-->
        <div class="container-fluid" id="pop-up-div">
            <div class="row flex-row flex-nowrap">
                <div class="card card-body mt-5" id="cus-pop" style="padding-top: 10px; padding-bottom: 3px;">
                    <p class="mb-1"><strong>Choose Files</strong>
                        <button type="button" onclick="close_choose_file_window()" style="float:right;border: 0px;">
                            <span class="fa fa-times"></span>
                        </button>
                    </p>
                    <hr class="mt-0 mb-0" />
                    <span class="mt-1" id='choose_file_msg' style="display:none"></span>
                    <form id="choose_file_form" class="mt-1 mb-0" method="POST" enctype="multipart/form-data">
                        <p><input type=file name=file class="mb-0">
                            <input type=submit value=Upload class="mb-1 btn btn-primary btn-sm mb-0">
                    </form>
                </div>

            </div>
        </div>
        <!-- Choose File Popup Ends Here -->


    </div>
    <p id="userUNI" name="userUNI" style="display: none;">{{ user_uni }}</p>
</div>


<!-- /.container-fluid-->
<!-- /.content-wrapper-->
<footer class="sticky-footer">
    <div class="container">
        <div class="text-center">
            <small>Copyright © Your Website 2017</small>
        </div>
    </div>
</footer>
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fa fa-angle-up"></i>
</a>


<!-- custom script -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../static/ngn-js/student.js"></script>
<script type="text/javascript" src="../static/ngn-js/functions.js"></script>



<!-- Bootstrap core JavaScript-->
<script src="../static/vendor/jquery/jquery.js"></script>
<script src="../static/vendor/bootstrap/js/bootstrap.bundle.js"></script>
<!-- Core plugin JavaScript-->
<script src="../static/vendor/jquery-easing/jquery.easing.js"></script>
<!-- Page level plugin JavaScript-->

<!-- <script src="../static/vendor/datatables/jquery.dataTables.js"></script> -->
<script src="../static/vendor/datatables/dataTables.bootstrap4.js"></script>
<!-- Custom scripts for all pages-->
<script src="../static/js/sb-admin.js"></script>
<!-- Custom scripts for this page-->
<!--<script src="../static/js/sb-admin-datatables.js"></script> -->


</body>

</html>
